@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="footer">
    <div class="container">
         <div class="info">
            <a href="#"><img class="logo" src="~/images/logos/Logo-dark.svg" alt=""></a>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</div>
         </div>
            <div class="link-content">
                <div class="links">
                    <a class="big" href="#">Company</a>
                    <a class="small" href="#">About</a>
                    <a class="small" href="#">Features</a>
                    <a class="small" href="#">Works</a>
                    <a class="small" href="#">Career</a>
                </div>
                <div class="links">
                    <a class="big" href="#">Help</a>
                    <a class="small" href="#">Customer Support</a>
                    <a class="small" href="#">Delivery Details</a>
                    <a class="small" href="#">Terms & Conditions</a>
                    <a class="small" href="#">Privacy Policy</a>
                </div>
                <div class="links">
                    <a class="big" href="#">Resources</a>
                    <a class="small" href="#">Free eBooks</a>
                    <a class="small" href="#">Development Tutorialy</a>
                    <a class="small" href="#">How to - Blog/a>
                    <a class="small" href="#">Youtube Playlist</a>
                </div>
                <div class="links">
                    <a class="big" href="#">Link</a>
                    <a class="small" href="#">Free eBooks</a>
                    <a class="small" href="#">Development Tutorialy</a>
                    <a class="small" href="#">How to - Blog/a>
                    <a class="small" href="#">Youtube Playlist</a>
                </div>          
             </div>
          <div class="lines"><img src="~/images/background/lines-right.svg" alt=""></div>
    </div>
</section>
<section class="footer-bottom">
    <div class="container">
        <div class="copyright">
            &copy; @DateTime.Now.Year Cito - Consulting Company Inc. All Rights Reserved.
        </div>
        <div class="social">
            <a class="social-media" href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a class="social-media" href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="social-media" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="social-media" href="#"target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</section>