@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
  <section class="map">
        <iframe src="@Model.Value("googleMapUrl")" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>