@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Crito.Models;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;

@{
    var subsribeform = new SubscribeForm();
}


<section class="signup">
    <div class="container">
        <div class="text">@Model.Value("signupTitle")</div>
        @using (Html.BeginUmbracoForm("Index", "Subscribe", FormMethod.Post))
        {
            <div asp-validation-summary="All"></div>
            <input asp-for="@subsribeform.Email"  type="text" placeholder="@Model.Value("signupFormText")">
            <button type="submit" class="btn-theme">@Model.Value("signupButtonText") <i class="fa-regular fa-arrow-up-right"></i></button>
        }
    </div>
    <img src="/images/signup-element.svg" alt="">
</section>
        