@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChoseUs)Model.Content;
}

        <div class="content">
            <div class="icon"><i class="@content.Value("choseUsIcon")"></i></div>
            <div class="text-content">
                <div class="title">@content.Value("choseUsBlockTitle")</div>
                <div class="text">@content.Value("choseUsBlockText")</div>
            </div>
        </div>