@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.OurService)Model.Content;
}
                
                <div class="box">
                    <div class="title">@content.Value("ourServiceBlockTitle")</div>
                    <div class="info">@content.Value("ourServiceBlockDescription")</div>
                    <div class="more-info" href="@content.Value("ourServiceBlockLink")"><i class="fa-solid fa-arrow-right"></i></div>
                </div>
                
